body {
    background: rgb(22, 22, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
div {
    margin-top: 10px;
}
#res {
    margin-top: 20px;
}
select {
    width: 150px;
}